* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: auto;
}

@font-face {
  font-family: Flenja-Regular;
  src: url("../../Flenja-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Ivy Mode';
  font-style: normal;
  font-weight: normal;
  src: url("../../../src/assets/fonts/IvyMode-Regular.woff2") format("woff2"), url("../../../src/assets/fonts/IvyMode-Regular.woff") format("woff");
}

.city_body div div {
  margin: 2em;
}

.city_body div div a {
  color: inherit;
  text-decoration: inherit;
}

.city_body div div a img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.city_body div div:hover {
  background-color: rgba(141, 133, 134, 0.422);
}

.city_body div div:hover img {
  -webkit-filter: initial;
          filter: initial;
}

.cities_main {
  width: 80%;
}

.cities_main .cities_body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  word-break: break-word !important;
  word-wrap: break-word !important;
  white-space: normal;
}

.cities_main .cities_body h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: .04;
  font-size: 15em;
  text-transform: lowercase;
}

.cities_main .cities_body div {
  width: 80%;
}

.cities_main .cities_body div a {
  width: 20%;
  font-size: 2em;
  text-transform: lowercase;
  text-decoration: none;
  font-family: 'Italiana', serif;
}

.cities_main .cities_body div a:hover {
  text-decoration: line-through;
}

header .menu_bar {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 300px;
  height: 70px;
  z-index: 9;
}

header .menu_bar__div {
  display: inline-block;
  height: 70px;
  padding: 1.5em 0 0 1.7em;
}

header .menu_bar__div__icon {
  cursor: pointer;
  font-size: 1.2em;
}

header .menu_bar__div:nth-child(1) {
  width: 75px;
  height: 70px;
}

header .menu_bar__div:nth-child(1) a {
  font-size: 1em;
}

header .menu_bar__div:nth-child(2) {
  border-left: none;
  border-right: none;
  width: 75px;
}

header .menu_bar__div:nth-child(3) {
  display: inline-block;
  width: 150px;
  height: 70px;
  top: 0;
  position: absolute;
}

header .menu_bar__div:nth-child(3) span {
  width: 50px;
}

header .menu_bar__div:nth-child(3) span:nth-child(2) {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 1em;
  cursor: pointer;
}

header .menu_bar__div:nth-child(3) span:nth-child(2)::before {
  position: absolute;
  content: '';
  top: 1.5em;
  width: 25px;
  height: 1px;
  color: white;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

header .menu_bar__div:nth-child(3) span:nth-child(2)::after {
  position: absolute;
  content: '';
  top: 1.9em;
  width: 30px;
  height: 1px;
  color: white;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

header .menu_bar__div:nth-child(3):hover {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

header .menu_bar__div:nth-child(3):hover .prop_menu:before {
  width: 35px;
}

header .menu_bar__div:nth-child(3):hover .prop_menu:after {
  width: 45px;
}

header .part_menu_bar {
  position: fixed;
  top: 2.4em;
  right: 22.8em;
  height: 70px;
  z-index: 9;
}

header .part_menu_bar__li {
  display: inline-block;
  height: 70px;
  width: 75px;
  padding: 2.2em 0 0 2.2em;
}

header .part_menu_bar__li__link__icon {
  font-size: 1.3em;
}

.back_to_props {
  font-size: 10px;
  position: relative;
  top: 3em;
  left: 3em;
  margin: 5em;
  text-decoration: none;
}

.property_body {
  margin: 5em;
}

.property_body div {
  position: relative;
}

.property_body div h1 {
  margin-top: 0.4em;
  width: 100%;
}

.property_body div h3 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.property_body div .des_likes {
  width: 100%;
  margin: -1em 0 1em 0;
}

.property_body div .des_likes p {
  display: inline-block;
  width: 50%;
}

.property_body div .des_likes p:nth-child(2) {
  text-align: right;
}

.property_body div .des_likes p:nth-child(2) span {
  font-size: 1em;
  padding: 0.5em;
  text-decoration: none;
  cursor: pointer;
}

.property_body div .des_likes p:nth-child(2) span .icon {
  color: gray;
}

.property_body div .des_likes p:nth-child(2) span:hover .one {
  color: #fb4664;
}

.property_body div .des_likes p:nth-child(2) span:hover .two {
  color: #32e4f4;
}

.property_body div .des_likes p:nth-child(2) span:nth-child(1) {
  padding-right: 2em;
}

.property_body div .des_likes p:nth-child(2) span:nth-child(2) {
  padding-right: 0;
  padding-left: 2em;
}

.property_body div .flexbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 8em;
  top: 3em;
}

.property_body div .flexbox-wrapper .regular {
  width: 65%;
  margin-left: 0;
}

.property_body div .flexbox-wrapper .regular .highlights {
  width: 100%;
}

.property_body div .flexbox-wrapper .regular .highlights__highlight {
  display: inline-block;
  width: 17%;
  height: 120px;
  padding: 1em;
  vertical-align: top;
}

.property_body div .flexbox-wrapper .regular .highlights__highlight p {
  margin-bottom: 1.5em;
  opacity: 0.3;
  font-size: x-small;
}

.property_body div .flexbox-wrapper .regular .highlights__highlight div {
  font-size: 1.7em;
  text-align: center;
  font-family: 'Gilda Display', serif;
}

.property_body div .flexbox-wrapper .regular .highlights__highlight:nth-child(1) {
  margin-left: 0;
  width: 30%;
  border-left: none;
}

.property_body div .flexbox-wrapper .regular .highlights__highlight:nth-child(5) {
  border-right: none;
}

.property_body div .flexbox-wrapper .regular .key_info {
  width: 100%;
}

.property_body div .flexbox-wrapper .regular .key_info__div {
  display: inline-block;
  width: 50%;
}

.property_body div .flexbox-wrapper .regular .key_info__div p {
  display: inline-block;
  width: 50%;
  margin-bottom: .5em;
}

.property_body div .flexbox-wrapper .regular .key_info__div p:nth-child(1) {
  opacity: 0.3;
  text-transform: uppercase;
  width: 30%;
  font-size: 0.7em;
}

.property_body div .flexbox-wrapper .booking_form {
  position: sticky;
  position: -webkit-sticky;
  top: 8em;
  right: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.067);
  border: 0.7px solid #7c7c7c;
  padding: 2em;
  margin-right: -3em;
  margin-top: 0;
}

.property_body div .flexbox-wrapper .booking_form h3 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-transform: capitalize;
  text-align: center;
}

.property_body div .flexbox-wrapper .booking_form .guests {
  width: 98%;
  margin-top: .5em;
  margin-bottom: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.property_body div .flexbox-wrapper .booking_form .guests span {
  display: inline-block;
  width: 33.33%;
  margin-top: 0.3em;
  font-size: 1.3em;
  height: 18px;
}

.property_body div .flexbox-wrapper .booking_form .guests:nth-child(1) {
  color: black;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.property_body div .flexbox-wrapper .booking_form .sub-total {
  width: 100%;
  margin-bottom: 0.2em;
}

.property_body div .flexbox-wrapper .booking_form .sub-total span {
  display: inline-block;
}

.property_body div .flexbox-wrapper .booking_form .sub-total span:nth-child(1) {
  width: 50%;
  font-size: 0.9em;
}

.property_body div .flexbox-wrapper .booking_form .sub-total span:nth-child(2) {
  margin-right: 0;
  width: 48%;
  text-align: right;
}

.property_body div .flexbox-wrapper .booking_form__button {
  width: 100%;
  color: black;
}

.property_body div .flexbox-wrapper .booking_form .without {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 1em;
  color: white;
}

.property_body div .flexbox-wrapper .booking_form .without:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.property_body div .flexbox-wrapper .booking_form__div__div {
  width: 50%;
  display: inline-block;
}

.property_body div .flexbox-wrapper .booking_form__div__div label {
  font-weight: bolder;
}

.property_body div .flexbox-wrapper .booking_form__div__div__input {
  border: none;
  padding: 0.5em 0;
  width: 100%;
}

.property_body div .flexbox-wrapper .booking_form__div__div:nth-child(2) {
  text-align: right;
}

.property_body div .flexbox-wrapper .booking_form__div__div:nth-child(2) input {
  text-align: right;
}

.property_body div .theprops_images {
  position: relative;
  width: 100%;
  height: 550px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
}

.property_body div .theprops_images::-webkit-scrollbar {
  display: none;
}

.property_body div .theprops_images .property_image_div__property_image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.property_body div .theprops_images .property_images_div {
  width: 100%;
  margin: 0 auto 0 1em;
  display: inline;
}

.property_body div .theprops_images .property_images_div__property_image {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.property_body div .inside_images_div {
  width: 48%;
  margin: 0 1em 1em 0;
  display: inline-block;
}

.property_body div .inside_images_div__inside_image {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.the_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the_head h2 {
  margin-left: 0;
  font-size: 7em;
}

.the_head input {
  width: 20%;
  margin-bottom: 35px;
  margin-right: 8%;
}

.heart {
  color: gray;
}

.heart:hover {
  color: #ec5d8d;
}

.share:hover {
  color: white;
}

.properties_body {
  width: 85%;
}

.properties_body::-webkit-scrollbar {
  width: 1px;
}

.properties_body .end-text {
  position: relative;
  bottom: 1em;
  text-align: center;
  letter-spacing: 10px;
}

.properties_body div {
  width: 100%;
  margin-bottom: 1em;
}

.properties_body div div {
  display: inline-block;
  width: 25%;
  height: 100%;
  padding: 1%;
}

.properties_body div div .city_link {
  font-size: 0.9em;
}

.properties_body div div .city_link:hover {
  text-decoration: underline;
}

.properties_body div div a {
  text-decoration: none;
}

.properties_body div div a img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.properties_body div div:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
}

.home .homeUl {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 20%;
  text-align: center;
  text-transform: uppercase;
}

.home .homeUl__mainLink {
  text-decoration: none;
  display: block;
  height: 1.5em;
  font-size: larger;
  font-family: 'Italiana', serif;
}

.home .homeUl li {
  list-style: none;
  display: inline;
  padding: 0 10%;
  width: 25%;
}

.home .homeUl li a {
  text-decoration: none;
  font-size: small;
  font-family: 'Italiana', serif;
}

.contact .contact_page {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.contact .contact_page__div {
  display: inline-block;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7%;
  vertical-align: middle;
}

.contact .contact_page__div h3 {
  font-size: 4em;
  margin-left: 0;
  text-align: left;
}

.contact .contact_page__div h4 {
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.contact .contact_page__div:nth-child(1) {
  width: 45%;
  padding-left: 5%;
}

.contact .contact_page__div:nth-child(2) {
  width: 55%;
  padding-left: 0;
}

.contact .contact_page__div__form {
  clear: both;
}

.contact .contact_page__div__form__button {
  float: right;
  width: 23%;
  margin: 1em 0 1em 0;
  z-index: 2;
  background-color: transparent;
  border: 1px solid white;
  text-align: left;
}

.contact .contact_page__div__form__button:hover {
  background-color: white;
}

.contact .contact_page__div__form__button::after {
  position: absolute;
  content: '';
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  width: 25px;
  height: 1px;
  background-color: aliceblue;
}

.contact .contact_page__div__form__div {
  width: 48%;
  display: inline-block;
}

.contact .contact_page__div__form__div__input {
  width: 100%;
  padding-left: 0;
}

.contact .contact_page__div__form textarea {
  width: 100%;
  padding-left: 0;
}

.contact .contact_page__div__form__input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0;
}

.contact .contact_page__div__form__div {
  width: 100%;
  margin-bottom: 1em;
}

.contact .contact_page__div__form__div__div {
  width: 48%;
  display: inline-block;
}

.contact .contact_page__div__form__div__div:nth-child(1) {
  margin-right: 2%;
}

.contact .contact_page__div__form__div__div:nth-child(2) {
  margin-left: 2%;
}

.contact .contact_page__div__form__div__div__input {
  width: 100%;
  padding-left: 0;
}

.contact .contact_page__div__reachable {
  width: 50%;
  margin: 4em 0 0 0;
}

.contact .contact_page__div__reachable p {
  opacity: 0.4;
  margin-top: 2em;
}

.contact .contact_page__div__reachable a:hover {
  text-decoration: underline;
}

.contact .contact_page__div .sth_else {
  margin-top: 2em;
  text-align: center;
}

.contact .others {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.contact .others .social_icons {
  padding-left: 1em;
}

.contact .others .social_icons:hover {
  cursor: pointer;
}

.error_page {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.error_page h1 {
  margin-top: 5%;
  font-size: 22em;
  width: 100%;
  font-family: 'Syne', sans-serif;
}

.error_page p {
  font-size: 2em;
  color: #c0bebe;
}

.error_page p a {
  text-decoration: underline;
  font-weight: bolder;
}

.react-datepicker {
  font-family: 'Italiana', serif !important;
  font-size: 1.1em !important;
  border-radius: 0 !important;
}

.react-datepicker__day--disabled {
  color: rgba(128, 128, 128, 0.204) !important;
}

.react-datepicker__day--disabled:hover {
  background-color: rgba(190, 47, 47, 0) !important;
  pointer-events: none !important;
}

.react-datepicker__day--excluded {
  color: gray !important;
  text-decoration: line-through;
}

.react-datepicker__day--excluded:hover {
  background-color: #d21212;
  pointer-events: none !important;
}

.react-datepicker__day:hover {
  background-color: rgba(128, 128, 128, 0.564) !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-bottom-color: #ffffff81 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end {
  background-color: rgba(128, 128, 128, 0.564) !important;
}

.react-datepicker__header {
  border-top-left-radius: 10px;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Italiana', serif;
  font-size: 9em;
  overflow-wrap: break-word;
}

h2, h6 {
  font-family: 'Italiana', serif;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  font-size: 4em;
  overflow-wrap: break-word;
}

h3, h4 {
  font-family: 'Italiana', serif;
}

p, li, input, label, button, a, span, textarea, sup {
  font-family: 'Gilda Display', serif;
  font-size: smaller;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.property_images {
  display: inline;
}

.profile_pic {
  width: 80px;
  height: 80px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_pic {
  width: 40px;
  height: 40px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -0.5em;
}

input, button, textarea {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: gray;
  padding: 1em;
  background-color: transparent;
  color: white;
}

*:focus {
  outline: none;
  border-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

::-webkit-file-upload-button {
  border: 1px solid pink;
  background: pink;
  padding: 1em;
  font-family: 'Fahkwang', sans-serif;
  cursor: pointer;
}

input[type="file"] {
  border: none;
}

button {
  cursor: pointer;
  background-color: pink;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid white;
  color: black;
  text-align: center;
}

button:hover {
  background-color: white;
  color: black;
}

.mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 8;
  text-align: left;
}

.mainNavigation a {
  color: #646464;
  text-decoration: none;
  font-family: 'Fahkwang', sans-serif;
  font-weight: bolder;
}

.mainNavigation h2 {
  text-transform: uppercase;
  font-size: 5em;
  line-height: 1em;
  font-family: "Syne", sans-serif;
}

.mainNavigation h2 a {
  font-family: "Syne", sans-serif;
}

.mainNavigation .groupA {
  position: absolute;
  top: 2em;
  right: 80%;
}

.mainNavigation .groupA i {
  cursor: pointer;
  font-size: 1.2em;
}

.mainNavigation .groupB {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainNavigation .groupC {
  position: absolute;
  bottom: 2em;
}

nav ul li {
  list-style: none;
  display: inline;
  padding-right: 2em;
}

nav ul li a {
  text-decoration: none;
  font-family: "Syne", sans-serif;
  font-weight: 400;
}

.amenities {
  padding: 1em 0 5em 3em;
}

.amenities li {
  list-style-type: circle;
}

.signup_page {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  height: 80%;
  width: 55%;
  padding: 2em;
  border-radius: 10px;
}

.signup_page .signup_form {
  margin-top: 2em;
}

.signup_page .signup_form__button {
  width: 100%;
}

.signup_page .signup_form .without {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 1em;
  color: white;
}

.signup_page .signup_form .without:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.signup_page .signup_form__input {
  width: 100%;
  margin-bottom: 1em;
  padding-left: 0;
}

.signup_page .signup_form__div {
  width: 100%;
  margin-bottom: 1em;
}

.signup_page .signup_form__div__div {
  width: 48%;
  display: inline-block;
}

.signup_page .signup_form__div__div:nth-child(1) {
  margin-right: 2%;
}

.signup_page .signup_form__div__div:nth-child(2) {
  margin-left: 2%;
}

.signup_page .signup_form__div__div__input {
  width: 100%;
  padding-left: 0;
}

.signup_page a {
  text-decoration: underline;
}

.signup_page .socials {
  margin-top: 2em;
  text-align: center;
}

.signup_page .socials a {
  margin: 1em;
  padding: 1em;
  text-decoration: none;
  height: 100px;
}

.signup_page .sth_else {
  margin-top: 2em;
  text-align: center;
}

.signup_page .sth_else span {
  color: #919191;
}

.user {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}

.user .user_account {
  width: 60%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 20px;
}

.user .user_account__compartments {
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.117);
  border-radius: 5px;
  padding: 2em;
  text-decoration: none;
}

.user .user_account__compartments h2 {
  font-size: 1.3em;
}

.user .user_account__compartments p {
  margin-top: 1em;
}

.user .user_account__compartments:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.payment {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 2em;
}

.payment__div {
  margin: 2%;
  height: 100%;
  padding: 2em;
}

.payment__div:nth-child(1) {
  width: 65%;
  margin-top: 0;
}

.payment__div:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.067);
  position: sticky;
  position: -webkit-sticky;
  width: 35%;
  top: 3em;
  margin-top: 25m;
}

.payment__div h2 {
  font-size: 2.5em;
}

.payment__div__button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FAFAFA;
  margin-top: 1em;
  color: white;
}

.payment__div__button:hover {
  background-color: rgba(255, 255, 255, 0.241);
}
/*# sourceMappingURL=main.css.map */