@import './config/config';
@import './config/variables';
@import './pages/cities/City'; 
@import './pages/cities/Cities'; 
@import './pages/properties/Property';
@import './pages/properties/Properties';
@import './pages/Home';
@import './pages/About';

html, body{
    margin: 0;
    padding: 0;
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'PT Serif', serif;
    // font-family: 'Syne', sans-serif;
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Ultra', serif;
}

body{
    // background-color:  #121212;
    background-color:  black;
    color: #FAFAFA;
}

h1{
    // font-family: $headerFont;
    font-family: 'Italiana', serif;
    // font-family: $ThatFont;
    font-size: 9em;
    overflow-wrap: break-word;
    // font-size: 100em;
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Ultra', serif;
}

h2, h6{
    // font-family: 'Syne', sans-serif;
    font-family: 'Italiana', serif;
    filter: opacity(0.9);
    // font-family: 'Fahkwang', sans-serif;
    font-size: 2em;
    font-size: 4em;
    overflow-wrap: break-word;
}

h3, h4{
    // font-family: 'Syne', sans-serif;
    // font-family: 'Fahkwang', sans-serif;
    // font-family: 'Gilda Display', serif;
    font-family: 'Italiana', serif;
}

p, li, input, label, button, a, span{
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'Fahkwang', sans-serif;
    // font-family: 'Italiana', serif;
    // font-family: 'Syne', sans-serif;
    font-family: 'Gilda Display', serif;
    font-size: smaller;
    // font-size: 10em;
    // font-family: 'Space Grotesk', sans-serif;
}

img{
    object-fit: cover;
    object-position: top;
}

.property_images{
    display: inline;
}

.profile_pic{
    width: 80px;
    height: 80px;
    clip-path: circle(50%);
    object-fit: cover;
}

.nav_pic{
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    object-fit: cover;
    margin-top: -0.5em;
}

// .nav_profile{
//     height: 200px;
//     background-color: aquamarine;
//     // span{
//         display: inline;
//     // }
// }

input, button{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
    padding: 1em;
    background-color: transparent;
    color: white;
    // border-radius: 5px;
    // transition: all .2s ease-in-out;

    // &:hover{
    //     font-size: 0.9em;
    //     transition: all .2s ease-in-out;
    //     // color:white;
    // }
}

*:focus {
    outline: none;
}

::-webkit-file-upload-button {
    border: 1px solid pink;
    background: pink;
    padding: 1em;
    font-family: 'Fahkwang', sans-serif;
    cursor: pointer;
  }

input[type="file"]{
    border: none;
}

button{
    cursor: pointer;
    background-color: pink;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    // position: absolute;
    // right: 0;
}

// div.react-datepicker-wrapper{
//     // display: inline;
//     width: 50%;
//     margin: -32px;
//     // position: relative;

//     .react-datepicker__input-container{
//         width: 20%;
        
        
//     }
// }




    

    .mainNavigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: black;
        z-index: 9;
        text-align: left;
        
        
        
        a{
            color: white;
            text-decoration: none;
            font-family: 'Fahkwang', sans-serif;
            font-weight: bolder;

            &:hover{
                color: pink;
            }
        }
        
        
        h2{
            text-transform: uppercase;
            font-size: 5em;
            line-height: 1em;
            a{
                font-family: $headerFont;
            }
        }
    
    
    
        .groupA{
            position: absolute;
            top: 2em;
            
        }
        .groupB{
            position: absolute;
            top: 50%;
            // left: 0;
            transform: translateY( -50%);
            // bottom: auto;
        }
        .groupC{
            position: absolute;
            bottom: 2em;
   
        }
    
    }


nav{
    // 
    // background-color: aquamarine;
    // height: 100%;
    ul{
        // padding: 2em 0;

        li{
            // width: 50%;
            list-style: none;
            display: inline;
            padding-right: 2em;
            
            // margin-right: 5em;
            

            a{
                text-decoration: none;
                color: black;
                font-family: $headerFont;
                // font-family: Roslindale Display Condensed,Georgia,Times New Roman,serif;
                font-weight: 400;
                
            }

          

        }
    }
}

.amenities{
    padding: 1em 0 5em 3em;

    li{
        list-style-type: circle;
    }
}

.signup_page{
    position: absolute;
    // left: 2%;
    top: 50%;
    left:0;
    transform: translate(0%, -50%);
    height: 80%;
    width:50%;
    padding: 2em;
    margin-left: 2em;
    background-color: rgba(169, 169, 169, 0.217);
    border-radius: 10px;
    // text-align: center;

    .signup_form{
        margin-top: 2em;

    
        &__button{
            width: 100%;
            color: black;
        }

        .without{
            background-color: gray;
            margin-top: 1em;
        }
    
        &__input{
            width: 100%;
            margin-bottom: 1em;
        }
    
        &__div{
            width: 100%;
            margin-bottom: 1em;
            // display: inline-block;
            // background-color: azure;
    
            &__div{
                width: 48%;
                display: inline-block;
    
                &:nth-child(1){
                    margin-right: 2%;
                }
                &:nth-child(2){
                    margin-left: 2%;
                }
    
                // &__label{
                //     color: coral;
                // }
        
                &__input{
                    width: 100%;
                }
            } 
        }
    }

    a{
        color: white;
        text-decoration: underline;
    }

    
    .socials{
        margin-top: 2em;
        text-align: center;
        
        a{
            // display: inline-block;
            margin: 2em;
            padding: 1em;
            text-decoration: none;
            height: 100px;
        }
    }

    .sth_else{
        margin-top: 2em;
        text-align: center;

        a{
            color: pink;
        }
    }
}

.user{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 100%;
    // height: 80%;

    .user_account{
       
        // left: 5%;
        width: 60%;
        height: 400px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-column-gap: 20px;
         
    
        &__compartments{
            width: 100%;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.117);
            // border: 1px solid rgba(255, 255, 255, 0.489);
            border-radius: 5px;
            padding: 2em;
            color: white;
            text-decoration: none;
    
            h2{
                font-size: 1.3em;
                // font-weight: bolder;
            }
            p{
                margin-top: 1em;
            }

            &:hover{
                background-color: rgba(255, 255, 255, 0.241);
            }
            
        }
    }
}