@import './config/config';
@import './config/variables';
@import './pages/cities/City'; 
@import './pages/cities/Cities'; 
@import './pages/properties/Property';
@import './pages/properties/Properties';
@import './pages/Home';
@import './pages/About';
@import './pages/Contact';
@import './pages/Error';
@import './config/forDate';


html, body{
    margin: 0;
    padding: 0;
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'PT Serif', serif;
    // font-family: 'Syne', sans-serif;
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Ultra', serif;
}

body{
    background-color:  #121212;
    color: #f2eeee;
    // background-color:  #f2eeee;
    // color: #121212;
    // background-color:  #dbd9d9;
    // color: #000000;

    // color: #919191;

    input, a{
        // color: #000000;
        color: #f2eeee;
    }
}

h1{
    // font-family: $headerFont;
    font-family: 'Italiana', serif;
    // font-family: 'Ivy Mode';
    // font-family: $ThatFont;
    font-size: 9em;
    overflow-wrap: break-word;
    // font-size: 100em;
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'Space Grotesk', sans-serif;
    // font-family: 'Ultra', serif;
}

h2, h6{
    // font-family: 'Syne', sans-serif;
    font-family: 'Italiana', serif;
    filter: opacity(0.9);
    // font-family: 'Fahkwang', sans-serif;
    // font-size: 2em;
    font-size: 4em;
    overflow-wrap: break-word;
}

h3, h4{
    // font-family: 'Syne', sans-serif;
    // font-family: 'Fahkwang', sans-serif;
    // font-family: 'Gilda Display', serif;
    font-family: 'Italiana', serif;
}

p, li, input, label, button, a, span, textarea{
    // font-family: 'Cormorant Garamond', serif;
    // font-family: 'Fahkwang', sans-serif;
    // font-family: 'Italiana', serif;
    // font-family: 'Syne', sans-serif;
    font-family: 'Gilda Display', serif;
    font-size: smaller;
    // font-size: 10em;
    // font-family: 'Space Grotesk', sans-serif;
}

img{
    object-fit: cover;
    object-position: top;
}

.property_images{
    display: inline;
}

.profile_pic{
    width: 80px;
    height: 80px;
    clip-path: circle(50%);
    object-fit: cover;
}

.nav_pic{
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    object-fit: cover;
    margin-top: -0.5em;
}

// .nav_profile{
//     height: 200px;
//     background-color: aquamarine;
//     // span{
//         display: inline;
//     // }
// }

input, button, textarea{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: gray;
    padding: 1em;
    background-color: transparent;
    color: white;
}

*:focus {
    outline: none;
    border-color: white;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}


::-webkit-file-upload-button {
    border: 1px solid pink;
    background: pink;
    padding: 1em;
    font-family: 'Fahkwang', sans-serif;
    cursor: pointer;
  }

input[type="file"]{
    border: none;
}

button{
    cursor: pointer;
    background-color: pink;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    text-align: center;

    &:hover{
        // background-color: rgba(255, 255, 255, 0.241);
        background-color: white;
        color: black;
    }
}






    

.mainNavigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 8;
    text-align: left;
    background-color:  #121212;
    // color: #f2eeee;
    // background-color:  #dbd9d9;
    // color: #000000;
    
    
    
    a{
        // color: #f1f1f1;
        color: #7c7c7c;
        text-decoration: none;
        font-family: 'Fahkwang', sans-serif;
        font-weight: bolder;

        &:hover{
            // color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            
        }
    }
    
    
    h2{
        text-transform: uppercase;
        font-size: 5em;
        line-height: 1em;
        a{
            font-family: $headerFont;
        }
    }



    .groupA{
        position: absolute;
        top: 2em;
        
    }
    .groupB{
        position: absolute;
        top: 50%;
        // left: 0;
        transform: translateY( -50%);
        // bottom: auto;
    }
    .groupC{
        position: absolute;
        bottom: 2em;

    }

}


nav{

    ul{

        li{
            list-style: none;
            display: inline;
            padding-right: 2em;

            a{
                text-decoration: none;
                color: black;
                font-family: $headerFont;
                // font-family: Roslindale Display Condensed,Georgia,Times New Roman,serif;
                font-weight: 400;
            }
        }
    }
}

.amenities{
    padding: 1em 0 5em 3em;

    li{
        list-style-type: circle;
    }
}

.signup_page{
    position: absolute;
    top: 50%;
    left:40%;
    transform: translate(0%, -50%);
    height: 80%;
    width:55%;
    padding: 2em;
    border-radius: 10px;

    .signup_form{
        margin-top: 2em;
    
        &__button{
            width: 100%;
        }

        .without{
            background-color: transparent;
            border: 1px solid white;
            margin-top: 1em;
            color: white;

            &:hover{
                background-color: rgba(255, 255, 255, 0.241);
            }
        }
    
        &__input{
            width: 100%;
            margin-bottom: 1em;
            padding-left: 0;
        }
    
        &__div{
            width: 100%;
            margin-bottom: 1em;
    
            &__div{
                width: 48%;
                display: inline-block;
    
                &:nth-child(1){
                    margin-right: 2%;
                }
                &:nth-child(2){
                    margin-left: 2%;
                }
        
                &__input{
                    width: 100%;
                    padding-left: 0;
                }
            } 
        }
    }

    a{
        // color: white;
        text-decoration: underline;
    }

    
    .socials{
        margin-top: 2em;
        text-align: center;
        
        a{
            margin: 1em;
            padding: 1em;
            text-decoration: none;
            height: 100px;
            // color: rgb(184, 184, 184);

            &:hover{
                color: #ffffff;
            }
        }
    }

    .sth_else{
        margin-top: 2em;
        text-align: center;
        color: #919191;

        a{
            color: #f1f1f1;
        }
    }
}

.user{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 100%;

    .user_account{
        width: 60%;
        height: 400px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-column-gap: 20px;
         
    
        &__compartments{
            width: 100%;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.117);
            border-radius: 5px;
            padding: 2em;
            // color: white;
            text-decoration: none;
    
            h2{
                font-size: 1.3em;
            }
            p{
                margin-top: 1em;
            }

            &:hover{
                background-color: rgba(255, 255, 255, 0.241);
            }
            
        }
    }
}

.payment{
    width: 80%;

    display: flex;
    height: auto;
    margin-top: 2em;

    &__div{
        margin: 2%;
        height: 100%;
        padding: 2em;
            
        &:nth-child(1){
            width: 65%;
            margin-top: 0;
        }

        &:nth-child(2){
            background-color: rgba(255, 255, 255, 0.067);
            // border-radius: 10px;
            position: sticky;
            position: -webkit-sticky;
            width: 35%;
            top: 3em;
            margin-top: 25m;
        }

        h2{
            font-size: 2.5em;
        }

        &__button{
            width: 100%;
            background-color: transparent;
            border: 1px solid #FAFAFA;
            margin-top: 1em;
            color: white;

            &:hover{
                background-color: rgba(255, 255, 255, 0.241);
            }
        }
    }
}