* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: auto;
}

@font-face {
  font-family: Flenja-Regular;
  src: url("../../Flenja-Regular.otf") format("otf");
}

.city_body div div {
  margin: 2em;
}

.city_body div div a {
  color: inherit;
  text-decoration: inherit;
}

.city_body div div a img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.city_body div div:hover {
  background-color: rgba(141, 133, 134, 0.422);
}

.city_body div div:hover img {
  -webkit-filter: initial;
          filter: initial;
}

.cities_main {
  width: 80%;
}

.cities_main .cities_body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  word-break: break-word !important;
  word-wrap: break-word !important;
  white-space: normal;
}

.cities_main .cities_body h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: .04;
  font-size: 15em;
  text-transform: lowercase;
}

.cities_main .cities_body div {
  width: 80%;
}

.cities_main .cities_body div a {
  width: 20%;
  font-size: 2em;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  font-family: 'Italiana', serif;
}

.cities_main .cities_body div a:hover {
  color: pink;
  text-decoration: line-through;
}

.prop_menu {
  position: fixed;
  top: 2em;
  right: 0;
  width: 50px;
  height: 100px;
  content: '';
  z-index: 9;
  cursor: pointer;
}

.prop_menu::before {
  position: absolute;
  content: '';
  top: 0;
  right: 2.7em;
  height: 80px;
  width: 1px;
  color: white;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

.prop_menu::after {
  position: absolute;
  content: '';
  top: 0;
  right: 2.2em;
  height: 80px;
  width: 1px;
  color: white;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

.prop_menu:hover {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  content: 'menu';
}

.prop_menu:hover:before {
  right: 3em;
}

.prop_menu:hover:after {
  right: 1em;
}

.back_to_props {
  font-size: 10px;
  position: relative;
  top: 3em;
  left: 3em;
  margin: 5em;
  text-decoration: none;
  color: white;
}

.property_body {
  margin: 5em;
}

.property_body div {
  position: relative;
}

.property_body div h1 {
  margin-top: 0.4em;
  width: 100%;
}

.property_body div h3 {
  font-size: 2.5em;
  margin-top: 2em;
  margin-bottom: 10px;
}

.property_body div .des_likes {
  width: 100%;
  margin: -1em 0 1em 0;
}

.property_body div .des_likes p {
  display: inline-block;
  width: 50%;
}

.property_body div .des_likes p:nth-child(2) {
  text-align: right;
}

.property_body div .des_likes p:nth-child(2) a {
  padding-left: 1em;
  text-decoration: none;
  color: white;
}

.property_body div .flexbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 8em;
}

.property_body div .flexbox-wrapper .regular {
  top: 3em;
  width: 60%;
  margin-left: 0;
}

.property_body div .flexbox-wrapper .booking_form {
  position: sticky;
  top: 3em;
  right: 0;
  position: -webkit-sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 25%;
  border: 2px solid white;
  border-radius: 10%;
  padding: 2em;
  margin-right: 0;
  margin-top: 2em;
}

.property_body div .flexbox-wrapper .booking_form .guests {
  width: 100%;
  margin-top: .5em;
  margin-bottom: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.property_body div .flexbox-wrapper .booking_form .guests span {
  display: inline-block;
  width: 33.33%;
  margin-top: 0.8em;
  font-size: 1.3em;
  height: 18px;
}

.property_body div .flexbox-wrapper .booking_form .guests:nth-child(1) {
  color: black;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.property_body div .flexbox-wrapper .booking_form__button {
  width: 100%;
  color: black;
}

.property_body div .flexbox-wrapper .booking_form .without {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 1em;
  color: white;
}

.property_body div .flexbox-wrapper .booking_form .without:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.property_body div .flexbox-wrapper .booking_form__div__div {
  width: 50%;
  display: inline-block;
}

.property_body div .flexbox-wrapper .booking_form__div__div__label {
  text-align: left;
}

.property_body div .flexbox-wrapper .booking_form__div__div__input {
  border: none;
  text-align: left;
  padding: 1em 0;
  width: 100%;
}

.property_body div .property_image_div {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.property_body div .property_image_div__property_image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px 0 0 10px;
}

.property_body div .theprops_images {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.property_body div .theprops_images::-webkit-scrollbar {
  width: 1px;
}

.property_body div .theprops_images .property_images_div {
  display: block;
  width: auto;
  margin-left: 1em;
  margin-right: auto;
  display: inline;
}

.property_body div .theprops_images .property_images_div__property_image {
  display: inline;
  width: auto;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.the_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the_head h1 {
  margin-left: 0;
}

.the_head input {
  width: 20%;
  margin-bottom: 35px;
  margin-right: 8%;
}

.heart {
  color: gray;
}

.heart:hover {
  color: #ec5d8d;
}

.share:hover {
  color: white;
}

.properties_body {
  width: 85%;
}

.properties_body::-webkit-scrollbar {
  width: 1px;
}

.properties_body div {
  width: 100%;
  margin-bottom: 1em;
}

.properties_body div div {
  display: inline-block;
  width: 25%;
  height: 100%;
  padding: 1%;
}

.properties_body div div .city_link {
  font-size: 0.9em;
}

.properties_body div div .city_link:hover {
  text-decoration: underline;
}

.properties_body div div a {
  text-decoration: none;
  color: white;
}

.properties_body div div a img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.properties_body div div:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
}

.home .homeUl {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 20%;
  text-align: center;
  text-transform: uppercase;
}

.home .homeUl__mainLink {
  text-decoration: none;
  display: block;
  height: 1.5em;
  color: white;
  font-size: larger;
  font-family: 'Italiana', serif;
}

.home .homeUl li {
  list-style: none;
  display: inline;
  padding: 0 10%;
  width: 25%;
}

.home .homeUl li a {
  text-decoration: none;
  color: white;
  font-size: small;
  font-family: 'Italiana', serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #FAFAFA;
}

h1 {
  font-family: 'Italiana', serif;
  font-size: 9em;
  overflow-wrap: break-word;
}

h2, h6 {
  font-family: 'Italiana', serif;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  font-size: 4em;
  overflow-wrap: break-word;
}

h3, h4 {
  font-family: 'Italiana', serif;
}

p, li, input, label, button, a, span, textarea {
  font-family: 'Gilda Display', serif;
  font-size: smaller;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.property_images {
  display: inline;
}

.profile_pic {
  width: 80px;
  height: 80px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_pic {
  width: 40px;
  height: 40px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -0.5em;
}

input, button, textarea {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: gray;
  padding: 1em;
  background-color: transparent;
  color: white;
}

*:focus {
  outline: none;
  border-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

::-webkit-file-upload-button {
  border: 1px solid pink;
  background: pink;
  padding: 1em;
  font-family: 'Fahkwang', sans-serif;
  cursor: pointer;
}

input[type="file"] {
  border: none;
}

button {
  cursor: pointer;
  background-color: pink;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  z-index: 8;
  text-align: left;
}

.mainNavigation a {
  color: white;
  text-decoration: none;
  font-family: 'Fahkwang', sans-serif;
  font-weight: bolder;
}

.mainNavigation a:hover {
  color: pink;
}

.mainNavigation h2 {
  text-transform: uppercase;
  font-size: 5em;
  line-height: 1em;
}

.mainNavigation h2 a {
  font-family: "Syne", sans-serif;
}

.mainNavigation .groupA {
  position: absolute;
  top: 2em;
}

.mainNavigation .groupB {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainNavigation .groupC {
  position: absolute;
  bottom: 2em;
}

nav ul li {
  list-style: none;
  display: inline;
  padding-right: 2em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Syne", sans-serif;
  font-weight: 400;
}

.amenities {
  padding: 1em 0 5em 3em;
}

.amenities li {
  list-style-type: circle;
}

.signup_page {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  height: 80%;
  width: 50%;
  padding: 2em;
  margin-left: 2em;
  background-color: rgba(169, 169, 169, 0.217);
  border-radius: 10px;
}

.signup_page .signup_form {
  margin-top: 2em;
}

.signup_page .signup_form__button {
  width: 100%;
  color: black;
}

.signup_page .signup_form .without {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 1em;
  color: white;
}

.signup_page .signup_form .without:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.signup_page .signup_form__input {
  width: 100%;
  margin-bottom: 1em;
}

.signup_page .signup_form__div {
  width: 100%;
  margin-bottom: 1em;
}

.signup_page .signup_form__div__div {
  width: 48%;
  display: inline-block;
}

.signup_page .signup_form__div__div:nth-child(1) {
  margin-right: 2%;
}

.signup_page .signup_form__div__div:nth-child(2) {
  margin-left: 2%;
}

.signup_page .signup_form__div__div__input {
  width: 100%;
}

.signup_page a {
  color: white;
  text-decoration: underline;
}

.signup_page .socials {
  margin-top: 2em;
  text-align: center;
}

.signup_page .socials a {
  margin: 2em;
  padding: 1em;
  text-decoration: none;
  height: 100px;
}

.signup_page .sth_else {
  margin-top: 2em;
  text-align: center;
}

.signup_page .sth_else a {
  color: pink;
}

.user {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}

.user .user_account {
  width: 60%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 20px;
}

.user .user_account__compartments {
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.117);
  border-radius: 5px;
  padding: 2em;
  color: white;
  text-decoration: none;
}

.user .user_account__compartments h2 {
  font-size: 1.3em;
}

.user .user_account__compartments p {
  margin-top: 1em;
}

.user .user_account__compartments:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.payment {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 2em;
}

.payment__div {
  margin: 2%;
  height: 100%;
  padding: 2em;
}

.payment__div:nth-child(1) {
  width: 65%;
  margin-top: 0;
}

.payment__div:nth-child(2) {
  border: 2px solid white;
  border-radius: 10px;
  position: sticky;
  position: -webkit-sticky;
  width: 35%;
  top: 3em;
  margin-top: 25m;
}

.payment__div h2 {
  font-size: 2.5em;
}

.payment__div__button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FAFAFA;
  margin-top: 1em;
  color: white;
}

.payment__div__button:hover {
  background-color: rgba(255, 255, 255, 0.241);
}
/*# sourceMappingURL=main.css.map */