.prop_menu{
    position: fixed;
    top: 2em;
    right: 0;
    // padding-top: 5em;
    width: 50px;
    height: 100px;
    content: '';
    z-index: 9;
    cursor: pointer;
    // background-color: rgba(255, 228, 196, 0.216);
    

    &::before{
        position: absolute;
        content: '';
        top: 0;
        right: 2.7em;
        height: 80px;
        width: 1px;
        color: white;
        transition: all .5s ease-in;
        backdrop-filter: invert(100%);
    }

    &::after{
        position: absolute;
        content: '';
        top: 0;
        right: 2.2em;
        height: 80px;
        width: 1px;
        color: white;
        transition: all .5s ease-in;
        backdrop-filter: invert(100%);
    }

    &:hover{
        transition: all .5s ease-in;
        content: 'menu';

        &:before{
            right: 3em;
        }
        &:after{
            right: 1em;
        }
    }
}

.back_to_props{
    font-size: 10px;
    position: relative;
    // top: 0;
    top: 3em;
    left: 3em;
    margin: 5em;
    text-decoration: none;
    color: white;
}

.property_body{
    // backdrop-filter: blur(20px);
    // background-color: azure;
    
    margin: 5em;
    div{
        position: relative;
        // position: absolute;
        

        h1{
            // text-transform: uppercase;
            // position: absolute;
            // margin-left: 0;
            // margin-top: 0;
            margin-top: 0.4em;
            width: 100%;
            // background-color: beige;
        }

        h3{
            font-size: 2.5em;
            margin-top: 2em;
            margin-bottom: 10px;

        }

        
        .des_likes{
            width: 100%;
            margin: -1em 0 1em 0;

            p{
                display: inline-block;
                width: 50%;
                &:nth-child(2){
                    text-align: right;
                    
                    a{
                        padding-left: 1em;
                        text-decoration: none;
                        color: white;
                    }

                   
                }
            }

            

         
        }
        

        .flexbox-wrapper {
            display: flex;
            // overflow: auto;
            width: 100%;
            height: auto;
            margin-bottom: 8em;

            .regular{
                top: 3em;
                width: 60%;
                margin-left: 0;
            }

            .booking_form{
                // position: relative;
                position: sticky;
                // // display: block;
                top: 3em;
                right: 0;
                position: -webkit-sticky;
                align-self: flex-start;
                width: 25%;
                // z-index: 3;
                border: 2px solid white;
                border-radius: 10%;
                padding: 2em;
                margin-right: 0;
                margin-top: 2em;
                // background-color: black;

                .guests{
                    width: 100%;
                    margin-top: .5em;
                    margin-bottom: 1.5em;
                    user-select: none;
                    // background-color: aqua;

                    span{
                        display: inline-block;
                        width: 33.33%;
                        // text-align: center;
                        margin-top: 0.8em;
                        font-size: 1.3em;
                        height: 18px;

                        // &:nth-child(1){
                        //     color: aquamarine;
                        // }
                    }

                    &:nth-child(1){
                        color: black;
                        border: 1px solid white;
                        border-radius: 50%;
                        padding: 5px ;
                        cursor: pointer;
                    }

                   
                }
                
                &__button{
                    width: 100%;
                    color: black;
                }
    
                .without{
                    background-color: transparent;
                    border: 1px solid white;
                    margin-top: 1em;
                    color: white;

                    &:hover{
                        background-color: rgba(255, 255, 255, 0.241);
                    }
                }
           
                    
                &__div{
                    &__div{
                        width: 50%;
                        display: inline-block;
            
                        &__label{
                            text-align: left;
                        }
                
                        &__input{
                            border: none;
                            text-align: left;
                            padding: 1em 0; 
                            width: 100%;
                            
                        }
                    } 
                }
                
            
                
            }
            // height: 200px;          /* Not necessary -- for example only */
          }
        //   .regular {
            // background-color: blue; /* Not necessary -- for example only */
            // height: 600px;          /* Not necessary -- for example only */
        //   }
        //   .sticky {
        //     position: -webkit-sticky; /* for Safari */
        //     position: sticky;
        //     top: 3em;
        //     right: 0;
        //     align-self: flex-start; /* <-- this is the fix */
        //   }
          

        
       
       
       
        .property_image_div{
            display: block;
            width: 100%;
            // height: 500px;
            margin-left:auto;
            margin-right:auto;
            &__property_image{
                // filter: grayscale(50%);
                
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px 0 0 10px;
            }
        }

        .theprops_images{
            position: relative;
            display: block;
            width: 100%;
            // height: 20vw;
            white-space: nowrap;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                width: 1px;
            }

            .property_images_div{
                display: block;
                // width: 100%;
                width: auto;
                // height: 50px;
                margin-left: 1em;
                margin-right: auto;
                // margin-left: auto;
                // margin-right: auto;
                
                
                display: inline;
                &__property_image{
                    display: inline;
                    width: auto;
                    height: 500px;
                    object-fit: cover;
                    object-position: center;
                   
                }
            }
        }

        


    }
}